@model Entities.Dto.ViewModel.ViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-5">
            <input type="text" id="categoryName" class="form-control" />
            <input type="button"  class="btn-success" />
            <input />
        </div>
    </div>
</div>


